@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background: rgb(102, 76, 76);
  background: linear-gradient(
    90deg,
    rgba(102, 76, 76, 1) 0%,
    rgba(59, 59, 88, 1) 0%,
    rgba(128, 48, 48, 1) 23%,
    rgba(149, 36, 36, 1) 55%,
    rgba(125, 1, 1, 1) 67%,
    rgba(40, 54, 59, 1) 100%
  );
}
